assignment-operator = end-line
break-before-in = fit-or-vertical
break-cases = fit-or-vertical
break-collection-expressions = fit-or-vertical
break-colon = after
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-infix = wrap-or-vertical
break-separators = after
break-string-literals = auto
break-struct = force
cases-exp-indent = 4
cases-matching-exp-indent = normal
doc-comments = before
dock-collection-brackets
exp-grouping = parens
extension-indent = 4
field-space = tight-decl
function-indent = 4
function-indent-nested = auto
if-then-else = keyword-first
indent-after-in = 0
indicate-nested-or-patterns = space
infix-precedence = indent
let-and = sparse
let-binding-indent = 4
let-binding-spacing = compact
let-module = sparse
line-endings = lf
margin = 120
match-indent = 0
match-indent-nested = never
module-item-spacing = sparse
nested-match = wrap
parens-tuple = always
parens-tuple-patterns = multi-line-only
sequence-style = terminator
single-case = compact
space-around-arrays=false
space-around-lists=false
space-around-records
type-decl-indent = 4
